.O--body {
  margin: auto;
  padding: 20px;
  max-width: 960px;
  font: 16px/24px Georgia, serif;
}

.O--inspect,
.O--error {
  margin: 20px -20px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 17px;
  border-left: solid 3px #ccc;
}

.O--inspect,
.O--error,
.O--text {
  font: 16px/24px Menlo, monospace;
  white-space: pre;
}

.O pre,
.O code,
.O tt {
  font: 16px/24px Menlo, monospace;
}

.O--expanded,
.O--collapsed,
.O--function,
.O--string:before,
.O--string:after,
.O--gray {
  color: #636363;
}

.O--collapsed,
.O--inspect a {
  cursor: pointer;
}

.O--field {
  text-indent: -1em;
  margin-left: 1em;
}

.O--index,
.O--blue {
  color: #3182bd;
}

.O--pink {
  color: #e377c2;
}

.O--orange {
  color: #e6550d;
}

.O--null,
.O--undefined,
.O--number,
.O--date,
.O--boolean,
.O--green {
  color: #31a354;
}

.O--key,
.O--string,
.O--purple {
  color: #756bb1;
}

.O--string:before,
.O--string:after {
  content: "\"";
}

.O--error,
.O--red {
  color: #de2d26;
}

.O--error {
  border-left-color: #de2d26;
}

.O input {
  min-width: 320px;
}

.O input[type=range] {
  position: relative;
  top: 3px;
}

.O canvas {
  position: relative;
  top: 1px;
}
