.d3--body {
  margin: auto;
  padding: 20px;
  max-width: 960px;
  font: 16px/24px Georgia, serif;
}

.d3--inspect {
  margin: 20px -20px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 17px;
  border-left: solid 3px #ccc;
}

.d3--inspect,
.d3--error,
.d3--text {
  font: 16px/24px Menlo, monospace;
  white-space: pre;
}

.d3 pre,
.d3 code,
.d3 tt {
  font: 16px/24px Menlo, monospace;
}

.d3--expanded,
.d3--collapsed,
.d3--function,
.d3--string:before,
.d3--string:after,
.d3--gray {
  color: #636363;
}

.d3--collapsed,
.d3--inspect a {
  cursor: pointer;
}

.d3--field {
  text-indent: -1em;
  margin-left: 1em;
}

.d3--index,
.d3--blue {
  color: #3182bd;
}

.d3--pink {
  color: #e377c2;
}

.d3--orange {
  color: #e6550d;
}

.d3--null,
.d3--undefined,
.d3--number,
.d3--date,
.d3--boolean,
.d3--green {
  color: #31a354;
}

.d3--key,
.d3--string,
.d3--purple {
  color: #756bb1;
}

.d3--string:before,
.d3--string:after {
  content: "\"";
}

.d3--error,
.d3--red {
  color: #de2d26;
}

.d3--error {
  border-left-color: #de2d26;
}

.d3 input {
  min-width: 320px;
}

.d3 input[type=range] {
  position: relative;
  top: 3px;
}

.d3 canvas {
  position: relative;
  top: 1px;
}
